.Buttons{
    margin: 40px 60px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.MadeChallenge{
    background-color: #00aeda;
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
}
.PurchaseList{
    background-color: #00aeda;
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
}

