/* 버튼 공통 컴포넌트  */
:root {
    --btn-bg: #f2f5fa;;
    --font:#00aeda
}

.btn {
    margin: 1rem;
}


.btn-open-line {
    border: none;
    transition: 0.3s;
    position: relative;
    color: var(--font);
    background-color: var(--btn-bg);
    font-weight: bolder;
    font-size: large;

    &::before,
    &::after {
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--btn-bg);
        opacity: 0;
        transform: scaleX(0);
        transition: 0.4s ease-in-out;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &:hover {
        letter-spacing: 5px;
        color: #c0e6f0;
        background: transparent;
        border-bottom: 1px solid #c0e6f0;
        &::before,
        &::after {
            opacity: 1;
            transform: scaleX(1.2);
        }
    }
}

@keyframes jittery {
    5%, 50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}

@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 var(--btn-bg);
    }
}

@keyframes move-left {
    to {
        transform: translateX(-100%);
    }
}