
/* 남자가 앉아있는 이미지 */
.StartImg {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* 자그럼 챌린지를 이해하셨나요? 문구 */
.StartBox {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 2550px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #2e2e30;
    z-index: 2;
    opacity: 0.7;
    & p{
        margin-top: 20px;
    }
}

.StartBox p {
    width: 70%;
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    z-index: 3;
    font-weight: 600;
}
