/* General Styles */
@font-face {
    font-family: 'Giants-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Giants-Bold';
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
}

.HomeMobile {
    position: absolute;
    top: 0;
    right: 20%;
    max-width: 425px;
    height: 100%;
    background: linear-gradient(to bottom, #A2EBFD, #032B35);
    z-index: 5;
}


@media (max-width: 1024px) {
    .HomeMobile {
        width: 100%;
        max-width: 450px;
        height: 100%;
        background: linear-gradient(to bottom, #A2EBFD, #032B35);
        left: 50%;
        transform: translateX(-50%);
        right: auto;
    }
}

.HomeTitle{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: white;
    max-width: 425px;
}