.RankerName{
    background: linear-gradient(to right, rgba(128, 128, 128, 0.7), white);
    max-width: 425px;
    & h1{
        max-width: 425px;
        font-size: 35px;
        margin-right: 60px;
        border-bottom: 5px solid red;
    }
}

.Ranker {
    background-color: #00aeda;
    margin: 5px 10px;
    width: 100px;
    height: 100%;
    display: inline-block;

/* nickname */
    & div {
        max-width: 100px;
        font-size: 20px;
        font-weight: bold;

    }
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

}

